@use '@/shared/styles/breakpoints' as *;

.CharacterForm {
  display: flex;
  flex-direction: column;
  gap: 10px;

  @include mobile {
    flex-flow: row wrap;
    width: 100%;
    min-width: 0;
  }
}

.CharacterForm__nameWrapper {
  display: flex;
  align-items: center;
  height: 30px;
  font-weight: 500;

  @include mobile {
    flex: 0 0 100%;
    padding-right: 50px;
  }
}

.CharacterForm__inputName {
  font-size: var(--font-size-xxl);
  color: var(--text-primary);
}

.CharacterForm__linkName {
  height: 23px;
  font-size: var(--font-size-xxl);
  color: var(--text-primary);
  text-decoration: none;
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.CharacterForm__linkName:hover {
  color: var(--text-secondary);
}

.CharacterForm__field {
  min-width: 0;

  @include mobile {
    flex: 1 1 0;
    padding-right: 10px;
  }
}

.CharacterForm__label {
  font-weight: 500;
  color: var(--text-grey);
}

.CharacterForm__value {
  margin-top: 7px;
  font-size: var(--font-size-m);
  color: var(--text-secondary);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
