.MainLayout {
  min-height: 100vh;
  height: 100%;
  flex-direction: column;
  display: flex;
  background-color: var(--background-body);
}

.MainLayout__content {
  flex: 1;
  width: 100%;
  padding: 1.5rem 0;
  align-self: center;
  max-width: 1040px;
}

.MainLayout__header,
.MainLayout__footer {
  z-index: 1;
}

.MainLayout__toast {
  background: var(--background-body) !important;
  color: var(--text-primary) !important;
}
