@use '@/shared/styles/breakpoints' as *;

.MainLayout {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 100vh;
  background-color: var(--background-body);
}

.MainLayout__content {
  flex: 1;
  padding: 1.5rem 1rem;
}

.MainLayout__header,
.MainLayout__footer {
  z-index: 1;
}

.MainLayout__toast {
  color: var(--text-primary) !important;
  background: var(--background-body) !important;
}
