.Select__wrapper {
  position: relative;
}

.Select {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px;
  color: var(--text-secondary);
  border: 1px solid var(--border-grey);
  border-radius: var(--border-radius);
}

.Select_readonly {
  padding: 0 !important;
  border: none;
}

.Select_interactive {
  cursor: pointer;
}

.Select_readonly .Select__icon {
  display: none;
}

.Select_xl {
  height: 55.5px;
  padding: 18px 14px;
}

.Select_sm {
  height: 21px;
  padding: 2px 5px;
  font-size: var(--font-size-m);
}

.Select__value {
  display: flex;
  align-items: center;
  gap: 5px;
}

.Select__icon {
  display: flex;
  align-items: center;
  transition: transform 0.2s ease;
}

.Select__icon_xl {
  width: 24px;
  height: 24px;
}

.Select__icon_sm {
  width: 9px;
  height: 9px;
}

.Select__icon_open {
  transform: rotate(180deg);
}

.Select__dropdown {
  position: absolute;
  top: calc(100% + 8px);
  right: 0;
  left: 0;
  z-index: 10;
  padding: 1px;
  color: var(--text-secondary);
  background: var(--background-default);
  border: 1px solid var(--border-grey);
  border-radius: var(--border-radius);
}

.Select__dropdown_xl {
  font-size: var(--fons-size-l);
}

.Select__dropdown_sm {
  font-size: var(--font-size-m);
}

.Select__option {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 5px;
}

.Select__option_xl {
  padding: 14px 10px;
}

.Select__option_sm {
  padding: 5px;
}

.Select__option:hover {
  background: var(--background-default-hover);
}
