.Input {
  display: flex;
  align-items: center;
  max-height: 56px;
}

.Input_readonly .Input__field {
  height: 30px;
}

.Input_outline {
  padding: 16px;
  border: 1px solid var(--border-grey);
  border-radius: var(--border-radius);
}

.Input_underline {
  height: 30px;
  transition: border-color 0.2s;
  border-bottom: 1px solid var(--border-black);
}

.Input__field {
  all: unset;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  color: var(--text-secondary);
}

.Input__field_outline {
  margin: 0 5px 0 8px;
}

.Input__field_xl {
  font-size: 16px;
}

.Input__field_sm {
  font-size: 14px;
}
