.Header {
  width: 100%;
  background-color: var(--background-default);
  box-shadow: 0 2px 6px -2px var(--shadow-light);
}

.Header__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  margin: 0 auto;
  max-width: 1040px;
}

.Header__logo {
  font-size: var(--font-size-xl);
  font-weight: bold;
}

.Header__logo:hover {
  cursor: pointer;
}

.Header__actions {
  display: flex;
  gap: 15px;
}
