.StatusDot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.StatusDot_green {
  background-color: var(--status-green);
}

.StatusDot_red {
  background-color: var(--status-red);
}

.StatusDot_orange {
  background-color: var(--status-orange);
}
