@import 'https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap';
@import 'https://fonts.googleapis.com/css2?family=Karla:wght@700&display=swap';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-primary);
  font-size: var(--font-size-l);
  overflow-y: scroll;
  scrollbar-gutter: stable;
}

:root {
  --font-primary: 'Roboto', sans-serif;
  --font-secondary: 'Karla', sans-serif;

  --font-size-xxl: 20px;
  --font-size-xl: 18px;
  --font-size-l: 16px;
  --font-size-m: 14px;

  --font-size-header-s: 28px;
  --font-size-header-l: 38px;
  --font-size-header-xl: 48px;

  --status-green: #12b800;
  --status-orange: #f90;
  --status-red: #df0000;

  --border-radius: 6px;
  --border-radius-m: 8px;
}
