.ButtonBack {
  display: flex;
  align-items: center;
  gap: 8px;
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  color: var(--text-primary);
}

.ButtonBack:hover {
  opacity: 0.8;
}

.ButtonBack__text {
  font-family: var(--font-secondary);
  font-size: var(--font-size-xl);
  font-weight: 700;
}
