.ButtonBack {
  display: flex;
  align-items: center;
  gap: 8px;
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
}

.ButtonBack:hover {
  background-color: var(--background-default-hover);
}

.ButtonBack__text {
  font-family: var(--font-secondary);
  font-size: var(--font-size-xl);
  font-weight: 700;
}
