.ButtonBack {
  border: none;
  outline: none;
  background: none;
  cursor: pointer;

  display: flex;
  align-items: center;
  gap: 8px;
}

.ButtonBack:hover {
  opacity: 0.7;
}

.ButtonBack__text {
  font: 'Karla';
  font-size: 18px;
  font-weight: 700;
}
