.FiltersPanel {
  display: flex;
  justify-content: space-between;
  gap: 28px;
}

.FiltersPanel__field {
  width: 100%;
  max-width: 238px;
}

.FiltersPanel__field_pending {
  opacity: 0.5;
  background-color: var(--status-orange);
}
