.ButtonIcon {
  all: unset;
  align-items: center;
  cursor: pointer;
  user-select: none;
}

.ButtonIcon_xl {
  width: 24px;
  height: 24px;
}

.ButtonIcon_sm {
  width: 20px;
  height: 20px;
}

.ButtonIcon svg {
  display: block;
  width: 100%;
  height: 100%;
}

.ButtonIcon:hover {
  opacity: 0.8;
}

.ButtonIcon:active {
  opacity: 0.7;
}
